{% extends 'chess_blog/base_2.html' %}

{% block content %}
    <div class="features" style="margin-left: 380px;">
        <h1 style="margin-left: 30px; font-style: italic;">{{ post.title }}</h1>
        <p>{{ post.content|linebreaks }}</p>
        <h4 style="font-style: italic; color: darkblue; margin-top: 20px;">Author: {{ post.author.username }}</h4>
        <h5 style="font-style: italic; color: darkviolet;">Publication Date: {{ post.publication_date }}</h5>

        {% if request.user.is_authenticated %}
            <a href="{% url 'add_comment' post.pk %}">
                <button class="btn btn-secondary" style="margin-top: 15px; margin-bottom: 10px;">
                    <i class="fas fa-square-plus" style="margin-right: 7px;"></i>Leave a comment
                </button>
            </a>
        {% endif %}
            <h2>Comments</h2>
        {% if comments %}
            <div class="list-group">
                {% for comment in comments %}
                    <div>
                        <h5 class="mb-1" style="font-style: italic; color: darkgreen;">{{ comment.content }}</h5>
                        <small style="font-style: italic; color: darkblue;">Author: {{ comment.author.username }}.</small>
                        <small style="font-style: italic; color: darkviolet;">Publication Date: {{ comment.publication_date }}</small>
                        {% if comment.author == request.user %}
                            <form method="POST" action="{% url 'delete_comment' comment.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" style="margin-top: -5%;">Delete comment</button>
                            </form>
                        {% endif %}
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h6>No comments yet</h6>
        {% endif %}

        <a href="{% url 'home' %}">
            <button class="btn btn-danger" style="position: absolute; top: 20px; right: 35px;">
                <i class="fas fa-house" style="margin-right: 7px;"></i>Home page
            </button>
        </a>
    </div>
{% endblock %}